* {
  box-sizing: border-box;
}

body {
  background-color: #a8a8a8;
  background-image: linear-gradient(to bottom, rgb(255, 209, 215), #61000d);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 3px solid rgb(12, 12, 12);
  border-radius: 10px;
  background-color: #fff;
}

.toolbox {
  background-color: rgb(73, 196, 201);
  background-image: linear-gradient(45deg, #163599, #2db3d4);
  border: solid 3px black;
  border-radius: 10px;
  display: flex;
  width: 804px;
  padding: 1rem;
}

.toolbox > * {
  background-color: #ffffff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
}

.toolbox > *:last-child {
  margin-left: auto;
}

button {
  border-radius: 10px;
}
